<li>
	{{burger_name}}

{{#if devoured}}{{else}}<button class="change-devour" data-id="{{id}}" data-newsleep="{{devoured}}">
		devoure me!
	</button>{{/if}}



	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
